//COLORS
$black: #181818;
$orange: #ee755a;
$gray-100: #f4f4f4;
$gray-200: #ededed;
$gray-300: #c7c7c7;
$gray-400: #b0b0b0;

$primary: $orange;

//SIZING
$base-font-size: 16px; // Set your base font size here
